
#HelloBabyNav {
    margin-left:-4px;
}
#HelloBabyNav .btn {
    padding: 0.25rem 0.35rem;
}


.navModal {
    display:block;
    overflow-y:scroll;
}

.navModal .modal-dialog {
    top:110px; 
}

#HelloBabyApp .popover {
    
}

#HelloBabyApp .v-select .open-indicator {display:none}

#HelloBabyApp .v-select input {
    border: 0px;
}

#HelloBabyApp .v-select button.clear {
    display:none;
}

#HelloBabyApp .v-select .dropdown-toggle{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#HelloBabyApp .supply-fetch input.form-control {
    padding-left: .50rem;
    padding-right: .50rem;
}

#HelloBabyApp .custom-label {
    position: absolute;
    bottom: 100%;
    left: 0;
    transform: translate(-50%, +40px);
    margin-left: 3px;
}
#HelloBabyApp .sliderCard {
    min-width:600px;
}

#HelloBabyApp .sliderCard .row {
    margin-left: 25px;
    margin-top:60px;
    margin-bottom:100px;"
}

