<div class="modal-header">
    	<div class="row">        
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" v-on:click="actionTab='simple'" v-bind:class="(actionTab==='simple') ? 'btn btn-primary' : 'btn btn-light'">Simple Actions</button>
              <button type="button" v-on:click="actionTab='vent'" v-bind:class="(actionTab==='vent') ? 'btn btn-primary' : 'btn btn-light'">Vent</button>
              <button type="button" v-on:click="actionTab='cpr'" v-bind:class="(actionTab==='cpr') ? 'btn btn-primary' : 'btn btn-light'">CPR</button>
              <button type="button" v-on:click="actionTab='procedures'" v-bind:class="(actionTab==='procedures') ? 'btn btn-primary' : 'btn btn-light'">Procedures</button>
              <button type="button" v-on:click="actionTab='meds'" v-bind:class="(actionTab==='meds') ? 'btn btn-primary' : 'btn btn-light'">Meds</button>
            </div>
            
        <button v-on:click="showTab='None'" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
	    </div>
      </div>

		<div v-if="actionTab==='simple'" class="modal-body">
			<div class="row">
                    <div class="col-4">
                        <button v-if="!scenario.PE.skin.is_dry" v-on:click=doTask({'name':'dry'}) class="btn btn-sm btn-primary">Dry</button>
                    </div>
               <div class="col-4">
                        <button v-on:click=doTask({'name':'stimulate'}) class="btn btn-sm btn-primary">Stimulate</button>
                    </div>
                </div>
		</div>
       
       <div v-if="actionTab==='vent'" class="modal-body">
            <div class="row">
                    <div class="col-4">
                        <span v-if="scenario.resusc.vent.vent_type==='spontaneous'" class="badge badge-success">Spontaneously Ventilating</span>
                        <span v-else-if="scenario.resusc.vent.vent_type==='ppv'" v-on:click="doTask({'name':'stopPPV'})" class="btn btn-sm btn-primary">Stop PPV</span>
                        <span v-else class="btn btn-sm btn-primary">Extubate to RA</span>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col">
                                <button v-if="scenario.resusc.vent.vent_type==='spontaneous'" v-on:click="doTask({'name':'startPPV'})" class="btn btn-sm btn-primary">Start PPV</button>
                        <span v-else-if="scenario.resusc.vent.vent_type==='intubated'" class="btn btn-sm btn-primary">Extubate to PPV</span>
                        <div v-else class="badge badge-success">Giving PPV</div>
                            </div>
                        </div>
                    </div>

                </div>
           <div class="row">
               <div v-if="scenario.resusc.vent.vent_type==='ppv'" class="col">
                   <button v-on:click="simpleTask('adjustMask')" class="btn btn-primary btn-sm">
                       Adjust Mask
                   </button>
                   <button v-on:click="simpleTask('reposition')" class="btn btn-primary btn-sm">
                       Reposition
                   </button>
                   <button v-on:click="simpleTask('suction')" class="btn btn-primary btn-sm">
                       Suction
                   </button>
                   <button v-on:click="simpleTask('openMouth')" class="btn btn-primary btn-sm">
                       Open Mouth
                   </button>
                   <button v-on:click="" class="btn btn-primary btn-sm">
                       Intubate
                   </button>
               </div>
              
           </div>
           <div class="row">
               <div v-if="scenario.resusc.vent.vent_type!='spontaneous'" class="col">
                   <p class="col-3">Set vent rate: </p>
                        <div class="col-9" v-on:click="doTask({'name':'set_rate', 'set_rate':scenario.resusc.vent.set_rate})">
                            <vue-slider id="vent_rate-slider" ref="slider" v-bind="helloSliderOptions(0, 60, width='100%', '50%')" v-model="scenario.resusc.vent.set_rate">
                                {% if is_IE %}
                                <div slot="label"></div>
                                {% else %}
                                <div slot="label" slot-scope="{ label, active }">
                                    <span :class="['custom-label', { active }]" v-if="label % 10 === 0">
                                    [[ label ]]
                                  </span>
                                </div>
                                {% endif %}
                            </vue-slider>
                        </div>
               </div>
        </div>

        </div>
		<div v-if="actionTab==='cpr'" class="modal-body">

		</div>

		<div v-if="actionTab==='procedures'" class="modal-body">

		</div>

		<div v-if="actionTab==='meds'" class="modal-body">

		</div>
      
      <div class="modal-footer">
        <button type="button" v-on:click="showTab='None'" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>