<div class="modal-header pb-0">
    	<div class="row">
            <div class="col p-0 btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" v-on:click="actionTab='simple'" v-bind:class="(actionTab==='simple') ? 'btn btn-primary' : 'btn btn-light'">Simple</button>
              <button type="button" id="vent" v-on:click="actionTab='resp'" v-bind:class="(actionTab==='resp') ? 'btn btn-primary' : 'btn btn-light'">Respiratory</button>
              <button type="button" v-on:click="actionTab='cpr'" v-bind:class="(actionTab==='cpr') ? 'btn btn-primary' : 'btn btn-light'">CPR</button>
              <button type="button" v-on:click="actionTab='procedures'" v-bind:class="(actionTab==='procedures') ? 'btn btn-primary' : 'btn btn-light'">Procedures</button>
              <button type="button" v-on:click="actionTab='meds'" v-bind:class="(actionTab==='meds') ? 'btn btn-primary' : 'btn btn-light'">Meds</button>
            </div>
	    </div>
      </div>

		<div v-if="actionTab==='simple'" class="modal-body">
			<div class="row">
				<div class="col-auto m-2" v-for="task in scenario.tasks" v-if="task.type==='simple'">
					<div class="badge badge-success" v-if="action_in_progress[task.name]">	
						[[task.in_progress]]
					</div>
					<!--Need to add some way to account for whether skin is dry, also need to check if required supplies are available -->
					<button v-else v-on:click=doTask({'name':task.name}) class="btn btn-sm btn-primary">[[task.pp]]</button>
				</div>		
			</div>
		</div>

       <div v-if="actionTab==='resp'" class="modal-body">
            {% include 'vent_settings.html' %}
		</div>

		<div v-if="actionTab==='cpr'" class="modal-body">
			<div class="alert alert-warning row" role="alert">
			<span>Coming Soon!  For now, you only need the simple and respiratory tabs.</span>
        </div>
		</div>

		<div v-if="actionTab==='procedures'" class="modal-body">
			<div class="alert alert-warning row" role="alert">
			<span>Coming Soon!  For now, you only need the simple and respiratory tabs.</span>
        </div>

		</div>

		<div v-if="actionTab==='meds'" class="modal-body">
			<div class="alert alert-warning row" role="alert">
			<span>Coming Soon!  For now, you only need the simple and respiratory tabs.</span>
        </div>

		</div>

      <div class="modal-footer">
          <div class="container">
              <div class="row" v-if="(actionTab==='resp')&&(ventTab!='start')">
              <div class="col">
              		<button class="btn btn-secondary" type="button" v-on:click="ventTab='start'">Cancel</button>
              </div>
              <div class="col">
              <button v-if="ventTab==='prep_ppv'" class="btn btn-primary" type="button" id="ppv" v-on:click="simpleTask('start_ppv'); ventTab='start'">Start PPV</button>
              <button v-else-if="ventTab==='prep_intubate'" class="btn btn-primary" type="button" v-on:click="simpleTask('intubate'); ventTab='start'" >Intubate</button>
              <button v-else class="btn btn-primary" type="button" v-on:click="simpleTask('extubate'); ventTab='start'">Extubate</button> <!-- note that only 'prep_extubate' remains as start defaults to v-else below -->
              </div>
          </div>
			  <button v-else type="button" v-on:click="showTab='None'" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>