<div class="modal-header pb-0">
    	<div class="row">
            <div class="col p-0 btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" v-on:click="actionTab='simple'" v-bind:class="(actionTab==='simple') ? 'btn btn-primary' : 'btn btn-light'">Simple</button>
              <button type="button" v-on:click="actionTab='vent'" v-bind:class="(actionTab==='vent') ? 'btn btn-primary' : 'btn btn-light'">Vent</button>
              <button type="button" v-on:click="actionTab='cpr'" v-bind:class="(actionTab==='cpr') ? 'btn btn-primary' : 'btn btn-light'">CPR</button>
              <button type="button" v-on:click="actionTab='procedures'" v-bind:class="(actionTab==='procedures') ? 'btn btn-primary' : 'btn btn-light'">Procedures</button>
              <button type="button" v-on:click="actionTab='meds'" v-bind:class="(actionTab==='meds') ? 'btn btn-primary' : 'btn btn-light'">Meds</button>
            </div>
	    </div>
      </div>

		<div v-if="actionTab==='simple'" class="modal-body">
			<div class="row">
                    <div v-if="!scenario.PE.skin.is_dry" class="col-auto my-2">
                        <button v-on:click=doTask({'name':'dry'}) class="btn btn-sm btn-primary">Dry</button>
                    </div>
               <div class="col-auto my-2">
                        <button v-on:click=doTask({'name':'stimulate'}) class="btn btn-sm btn-primary">Stimulate</button>
                    </div>
                
               <div class="col-auto my-2">
                        <button v-on:click=doTask({'name':'bulb_suction'}) class="btn btn-sm btn-primary">Bulb suction</button>
                    </div>
                <div class="col-auto my-2">
                        <button v-on:click=doTask({'name':'deep_suction'}) class="btn btn-sm btn-primary">Deep suction</button>
                    </div>
          		</div>
		</div>
       
       <div v-if="actionTab==='vent'" class="modal-body">
            {% include 'vent_settings.html' %}
		</div>
           
		<div v-if="actionTab==='cpr'" class="modal-body">

		</div>

		<div v-if="actionTab==='procedures'" class="modal-body">

		</div>

		<div v-if="actionTab==='meds'" class="modal-body">

		</div>
      
      <div class="modal-footer">
          <div class="container">
              <div class="row" v-if="(actionTab==='vent')&&(ventTab!='start')">
              <div class="col">
              		<button class="btn btn-secondary" type="button" v-on:click="ventTab='start'">Cancel</button>
              </div>
              <div class="col">
                  <button v-if="ventTab==='prep_ppv'" class="btn btn-primary" type="button" v-on:click="simpleTask('startPPV'); ventTab='start'">Start PPV</button>
              <button v-else-if="ventTab==='prep_intubate'" class="btn btn-primary" type="button" v-on:click="simpleTask('intubate'); ventTab='start'" >Intubate</button>
              <button v-else class="btn btn-primary" type="button" v-on:click="simpleTask('extubate'); ventTab='start'">Extubate</button> <!-- note that only 'prep_extubate' remains as start defaults to v-else below -->
              </div>
          </div>
          </div>
		 <button v-else type="button" v-on:click="showTab='None'" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>