<div class="modal navModal" v-if="(showTab==='prep')" id="prepModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" v-on:click="showTab='None'">
  <div class="modal-dialog" role="document">
    <div class="modal-content" v-on:click.stop="">
      <div class="modal-body">
          {% include "warmer_settings.html" %}
      </div> 
      
      <div class="modal-footer">
        <button v-if="ventTab=='start'" type="button" v-on:click="showTab='None'" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button v-else type="button" v-on:click="showTab='action'" class="btn btn-secondary" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>

<div class="modal navModal" v-if="(showTab==='supplies')" id="supplyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" v-on:click="showTab='None'">
  <div class="modal-dialog" role="document">
    <div class="modal-content" v-on:click.stop="">
        {% include "supplies.html" %}
    </div>
  </div>
</div>

<div class="modal navModal" v-if="(showTab==='exam')" id="examModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" v-on:click="showTab='None'">
  <div class="modal-dialog" role="document">
    <div class="modal-content" v-on:click.stop="">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Exam</h5>
        <button v-on:click="showTab='None'" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
             {% include "exam.html" %}           
        </div>
        
      <div class="modal-footer">
        <button type="button" v-on:click="showTab='None'" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal navModal" v-if="(showTab==='actions')" id="actionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" v-on:click="showTab='None'">
  <div class="modal-dialog" role="document">
    <div class="modal-content" v-on:click.stop="">
      {% include "actions.html" %}
    </div>
  </div>
</div>

<div class="modal navModal" v-if="(showTab==='meds')" id="medsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" v-on:click="showTab='None'">
  <div class="modal-dialog" role="document">
    <div class="modal-content" v-on:click.stop="">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Medications</h5>
        <button v-on:click="showTab='None'" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            Give Medication
        </div>
      
      <div class="modal-footer">
        <button type="button" v-on:click="showTab='None'" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>