<div class="modal navModal" v-if="(showTab==='history')" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" v-on:click="showTab='None'">
  <div class="modal-dialog" role="document">
    <div class="modal-content" v-on:click.stop="">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">History</h5>
        <button v-on:click="showTab='None'" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        	<div v-for="(value, key, i) in scenario.mom" class="row" style="margin-bottom:5px;">
                <div class="col">
                    <button class="btn btn-sm btn-primary" data-toggle="collapse" :data-target="'#collapse'+i" aria-expanded="false" aria-controls="collapse">Get [[key]]</button> <!--[[value]]-->
                </div>
                <div class="col collapse" :id="'collapse'+i">
                    [[value]]
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" v-on:click="showTab='None'" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal navModal" v-if="(showTab==='prep')" id="prepModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" v-on:click="showTab='None'">
  <div class="modal-dialog" role="document">
    <div class="modal-content" v-on:click.stop="">
      <div class="modal-body">
          {% include "warmer_settings.html" %}
      </div> 
      
      <div class="modal-footer">
        <button type="button" v-on:click="showTab='None'" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal navModal" v-if="(showTab==='supplies')" id="supplyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" v-on:click="showTab='None'">
  <div class="modal-dialog" role="document">
    <div class="modal-content" v-on:click.stop="">
        
      <div class="modal-body">
          <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Fetch Supplies:</span>
                </div>
                <v-select label="pp" v-model="supplyToFetch" @input="getSupply(supplyToFetch)" :options="supplySearchOptions" placeholder="search..."></v-select>

            </div>
          	<p>
                Available Supplies:
          </p>
            <ul class="col3" v-for="supply in availableSupplies">
                    <li v-if="baby_delivered">[[supply.name]]: [[supply.size]] <span v-if="supply.is_using" class="badge badge-success">currently using</span><span v-else v-on:click="useSupply(supply)" class="btn btn-sm btn-primary">Use</span></li>
                	<li v-else>[[supply.name]]: [[supply.size]]</li>
                </ul>
        </div> 
      
      <div class="modal-footer">
        <button type="button" v-on:click="showTab='None'" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal navModal" v-if="(showTab==='exam')" id="examModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" v-on:click="showTab='None'">
  <div class="modal-dialog" role="document">
    <div class="modal-content" v-on:click.stop="">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Exam</h5>
        <button v-on:click="showTab='None'" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                        <div class="row">
                            <div class="col">
                            GA: [[scenario.baby.ga]] infant.  Color is [[scenario.PE.skin.color]].  Skin is <span v-if="!scenario.PE.skin.is_dry">not </span>dry. Chest rise: [[scenario.PE.resp.chest_rise]]. <span v-if="scenario.PE.resp.is_grunting">Infant is grunting.</span>
                            <span v-if="scenario.PE.resp.is_spontaneous">Infant is breathing spontaneously.</span> WOB: [[scenario.PE.resp.wob]].  Respiratory rate: [[scenario.PE.vitals.rr]].
                        </div>
          </div>
                        {% for examType, examAction in [('cardiac', "Examine heart"), ('resp', "Examine lungs"), ('abd', "Examine Abdomen")] %}
                        <div class="row">
                            <div class="col">
                            [[lastExam['{{examType}}'] ]]
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                             
                        	<button v-on:click="getLastExam('{{examType}}')" class="btn btn-primary" style="margin-top:20px">{{examAction}}</button>
                            </div>
                        </div>
                        {% endfor %}
        </div>
        
      <div class="modal-footer">
        <button type="button" v-on:click="showTab='None'" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal navModal" v-if="(showTab==='actions')" id="actionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" v-on:click="showTab='None'">
  <div class="modal-dialog" role="document">
    <div class="modal-content" v-on:click.stop="">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actions</h5>
        <button v-on:click="showTab='None'" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       
       <div class="modal-body">
           <div class="row">
                    <div class="col-4">
                        <button v-if="!scenario.PE.skin.is_dry" v-on:click=doTask({'name':'dry'}) class="btn btn-sm btn-primary">Dry</button>
                    </div>
               <div class="col-4">
                        <button v-on:click=doTask({'name':'stimulate'}) class="btn btn-sm btn-primary">Stimulate</button>
                    </div>
                </div>
            <div class="row">
                    <div class="col-4">
                        <span v-if="scenario.resusc.vent.vent_type=='spontaneous'" class="badge badge-success">Spontaneously Ventilating</span>
                        <span v-else-if="scenario.resusc.vent.vent_type=='PPV'" v-on:click="doTask({'name':'stopPPV'})" class="btn btn-sm btn-primary">Stop PPV</span>
                        <span v-else class="btn btn-sm btn-primary">Extubate to RA</span>
                    </div>
                    <div class="col-4">
                        <button v-if="scenario.resusc.vent.vent_type=='spontaneous'" v-on:click="doTask({'name':'startPPV'})" class="btn btn-sm btn-primary">Start PPV</button>
                        <span v-else-if="scenario.resusc.vent.vent_type=='intubated'" class="btn btn-sm btn-primary">Extubate to PPV</span>
                        <div v-else class="badge badge-success">Giving PPV</div>
                    </div>
                    <div class="col-2">
                        <button v-if="scenario.resusc.vent.vent_type!='intubated'" class="btn btn-sm btn-primary">Intubate</button>
                    </div>

                </div>
        </div>
      
      <div class="modal-footer">
        <button type="button" v-on:click="showTab='None'" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal navModal" v-if="(showTab==='meds')" id="medsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" v-on:click="showTab='None'">
  <div class="modal-dialog" role="document">
    <div class="modal-content" v-on:click.stop="">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Medications</h5>
        <button v-on:click="showTab='None'" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            Give Medication
        </div>
      
      <div class="modal-footer">
        <button type="button" v-on:click="showTab='None'" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>