<div class="row">
                            <div class="col">
                            [[scenario.baby.ga]] week infant.  Color is [[scenario.PE.skin.color]].  Skin is <span v-if="!scenario.PE.skin.is_dry">not </span>dry. Chest rise: [[scenario.PE.resp.chest_rise]]. <span v-if="scenario.PE.resp.is_grunting">Infant is grunting.</span>
                            <span v-if="scenario.PE.resp.is_spontaneous">Infant is breathing spontaneously.</span> WOB: [[scenario.PE.resp.wob]].  Respiratory rate: [[scenario.PE.vitals.rr]].
                        </div>
          </div>
<div class="row">
        <div class="col-4">
       <button class="btn btn-primary">
           Check HR
	    </button>
	    </div>
	    <div class="col-1">
    	<span class=" badge badge-danger">[[scenario.PE.vitals.hr]]</span>
        </div>
</div>
<!--
                        {% for examType, examAction in [('cardiac', "Examine heart"), ('resp', "Examine lungs"), ('abd', "Examine Abdomen")] %}
                        <div class="row">
                            <div class="col">
                            [[lastExam['{{examType}}'] ]]
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">

                        	<button v-on:click="getLastExam('{{examType}}')" class="btn btn-primary" style="margin-top:20px">{{examAction}}</button>
                            </div>
                        </div>
                        {% endfor %}
-->