{% extends "layout.html" %} {% block body %}
    <div class="container">
            <div class="row">
                <div class="col-md-4 d-none d-md-block">
                    <div class="container">
                     <div class="card">
                          <div class="card-body">
                            History
                          </div>
                        </div>

                        <div class="card">
                              <div class="card-body">
                                PE
                              </div>
                        </div>
                        <div class="card">
                              <div class="card-body">
                                Warmer
                              </div>
                        </div>
                        <div class="card">
                              <div class="card-body">
                                Supplies
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    {% include "resuscitation.html" %}
                </div>
                <div class="col-4 d-none d-md-block">
                    <div class="container">
                     <div class="card">
                          <div class="card-body">
                            Simple Interventions
                          </div>
                        </div>

                        <div class="card">
                              <div class="card-body">
                                Ventilation
                              </div>
                        </div>
                        <div class="card">
                              <div class="card-body">
                                CPR
                              </div>
                        </div>
                        <div class="card">
                              <div class="card-body">
                                Procedures
                              </div>
                        </div>
                        <div class="card">
                              <div class="card-body">
                                Medications
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}