{% extends "layout.html" %} {% block body %}
<div class="modal" v-bind:style="show_message ? 'display:block':'display:none'" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" v-on:click="show_message=false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" v-on:click.stop="">
      <div class="modal-body">
        [[hb_message]]
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" v-on:click="show_message=false">Okay</button>
      </div>
    </div>
  </div>
</div>

{% include "controls.html" %}

<div class="container">
    	<div class="row">
        <div class="col-sm">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-7">
             
    	<div class="row">        
            <div id="HelloBabyNav" class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" v-on:click="toggleShowTab('history')" v-bind:class="(showTab==='history') ? 'btn btn-primary' : 'btn btn-light'">History</button>
              <button type="button" v-on:click="toggleShowTab('prep')" v-bind:class="(showTab==='prep') ? 'btn btn-primary' : 'btn btn-light'">Prep</button>
                <button type="button" v-on:click="toggleShowTab('supplies')" v-bind:class="(showTab==='supplies') ? 'btn btn-primary' : 'btn btn-light'">Supply</button>
                <button v-if="!baby_delivered" v-on:click="deliverBaby" type="button" class="btn btn-danger">Ready!</button>
              <button v-if="baby_delivered" v-on:click="toggleShowTab('exam')" v-bind:class="(showTab==='exam') ? 'btn btn-primary' : 'btn btn-light'" type="button">Exam</button>              
              <button v-if="baby_delivered" v-on:click="toggleShowTab('actions')" v-bind:class="(showTab==='actions') ? 'btn btn-primary' : 'btn btn-light'" type="button" >Actions</button>
              <button v-if="baby_delivered" v-on:click="toggleShowTab('meds')" v-bind:class="(showTab==='meds') ? 'btn btn-primary' : 'btn btn-light'" type="button" >Meds</button>
            </div>
	    </div>
		<div class="row" style="background-color:black; padding:5px; border-radius:5px;">
			<div class="col" style="padding-left:0px;">
				<div v-if="baby_delivered"> 
                         <div v-if="baby_timer_started"> 
                             <a class="btn btn-sm btn-warning"><span id="baby_time" v-html="elapsed_baby_time"></span> </a> 
                         </div> 
                         <div v-else> 
                             <button class="btn btn-sm btn-primary" v-on:click="startBabyTimer"> Start Timer </button> 
                         </div> 
                 </div>
                
			</div>
			<div class="col-auto">
			    <div class="row">
                <span class="badge badge-light">RR [[scenario.PE.vitals.rr]]</span>
			    </div>
			    <div class="row">
                <span v-if="checkSupplyByName('pulse_ox').is_using==true" class="badge badge-primary">O2 Sat [[scenario.PE.vitals.o2sat]].</span>
                <span v-else class="badge badge-warning"> unavailable</span>
			    </div>
			    <div class="row">
                <span v-if="checkSupplyByName('temp_probe').is_using==true" class="badge badge-success">Temp [[scenario.PE.vitals.temp]]</span>
                <span v-else class="badge badge-warning">unavailable</span>
			    </div>
			</div>
		</div>
	<div class="row">
      GA: [[scenario.baby.ga]] infant.  Color is [[scenario.PE.skin.color]].  Chest rise: [[scenario.PE.resp.chest_rise]]. <span v-if="scenario.PE.resp.is_grunting">Infant is grunting.</span>
 	</div>
	<div class="row">
        <span v-if="scenario.warmer.is_turned_on">
            Heat is: <span v-on:click="toggleHeat" class="btn badge badge-danger">on</span>
        </span>
        <span v-else>
            Heat is: <span v-on:click="toggleHeat" class="btn badge badge-secondary">off</span>
        </span>
      	 Temperature mode: <span v-on:click="toggleTempMode" class="btn badge badge-primary">
                    [[scenario.warmer.temp_mode]]
                    </span>
        <div class="row">
        <div class="col" v-for="mask in getMasks">
        <span v-if="mask.is_using">Using [[mask.size]] Mask </span>
        </div>
        </div>
	</div>
	
	<div class="row">
        {% for pressure,pname in [("scenario.warmer.pip", "PIP"), ("scenario.warmer.peep", "PEEP"), ("scenario.warmer.pop", "POP")] %}
        <div class="col-4">{{pname}}: <span class="badge badge-primary">[[{{pressure}}]]</span></div>
        {% endfor %}

    </div>
    <div class="row">
        {% for pressure,pname in [("scenario.warmer.flow","Flow"), ("scenario.warmer.fio2","FIO2")]%}
        <div class="col-4">{{pname}}: <span class="badge badge-primary">[[{{pressure}}]]</span></div>
        {% endfor %}
        <div class="col-4">Suction: <span class="badge badge-primary">[[scenario.warmer.suction]]</span></div>
    </div>
	
	<div class="row">
		Ventilation mode: [[scenario.resusc.vent.vent_type]]
	</div>
	<div class="row">
		No chest compressions
	</div>
</div>
            <div class="col-sm">
                
            </div>
</div>
</div>
{% endblock %}