                <div class="card" id="resuscExam">
                    <div class="card-body">
                        <div class="row">
                              GA: [[scenario.baby.ga]] infant.  Color is [[scenario.PE.skin.color]].  Chest rise: [[scenario.PE.resp.chest_rise]]. <span v-if="scenario.PE.resp.is_grunting">Infant is grunting.</span>
                        </div>
                        <div class="row">
                            Heart rate [[scenario.PE.vitals.hr]].  Respiratory rate [[scenario.PE.vitals.rr]].
                            Oxygen saturation<span v-if="checkSupplyByName('pulse_ox').is_using==true" class="badge badge-primary"> [[scenario.PE.vitals.o2sat]].</span>
                            <span v-else class="badge badge-warning"> unavailable</span>
                            Temperature<span v-if="checkSupplyByName('temp_probe').is_using==true" class="badge badge-success"> [[scenario.PE.vitals.temp]]</span>
                            <span v-else class="badge badge-warning">unavailable</span>
                        </div>

                        <h3>
                            Warmer settings
                        </h3>
                        <div class="row">
                            <div class="col-2">
                          		 Warmer is <span v-if="scenario.warmer.turned_on">on</span><span v-else>off</span>.
                       		 </div>
                            <div class="col-2">
                          		 Temp mode: [[scenario.warmer.temp_mode]]
                       		 </div>
                            <div v-for="mask in getMasks" class="col-2">
                            <span v-if="mask.is_using">Using [[mask.size]] Mask </span>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            {% for pressure,pname in [("scenario.warmer.pip", "PIP"), ("scenario.warmer.peep", "PEEP"), ("scenario.warmer.pop", "POP")] %}
                            <div class="col-sm-1">{{pname}}: <span class="badge badge-primary">[[{{pressure}}]]</span></div>
                            {% endfor %}

                        </div>
                        <div class="row">
                            {% for pressure,pname in [("scenario.warmer.flow","Flow"), ("scenario.warmer.fio2","FIO2")]%}
                            <div class="col-sm-1">{{pname}}: <span class="badge badge-primary">[[{{pressure}}]]</span></div>
                            {% endfor %}
                            <div class="col-sm-1">Suction: <span class="badge badge-primary">[[scenario.warmer.suction]]</span></div>
                        </div>
                    </div>
</div>