{% extends "layout.html" %} {% block body %}
<div class="card">
    <div class="card-body">
        <div class="card-text">
            [[scenario.scenario_text]]
        </div>
        <div class="row mt-2">
            <div class="col">
                <p class="mb-2"><strong>
                    First time playing? Start with the tutorial.
                    </strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" href="/tutorial" role="button">Tutorial</a>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <p class="mb-2"><strong>
                    Practice mode gives you some hints for what to do along the way.
                    </strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" href="/practice" role="button">Practice Mode</a>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <p class="mb-2"><strong>
                    I'm an expert.  No hints!
                    </strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" href="/exam" role="button">Expert mode</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script src="https://nightcatsama.github.io/vue-slider-component/dist/index.js"></script>
    <script src="{{ url_for('static',filename='hello_baby.js') }}"></script>
{% endblock %}