            
            <!-- OMG this code is terrible, need to refactor!!! -->

     		<div class="row">
            <div class="col-6" v-for="mask in getMasks">
            <span v-if="mask.is_using" class="p-2 badge badge-large badge-primary">Using [[mask.size]] Mask </span>
              <span v-else class="p-2 btn badge badge-large badge-secondary" v-on:click="useSupply(mask)">Use [[mask.size]] Mask</span>
            </div>
     	   </div>

    		<div class="row mt-3">
                <div class="col">
                    <div class="container">
                        <div class="row mt-2">
                            <h4 class="col">Supply Drawer:</h4>
                        </div>
                        <div class="row">
                            <nav class="nav flex-column col-auto">
                              <a v-on:click="supplyTab='basic'" v-bind:class="(supplyTab==='basic') ? 'btn btn-primary' : 'btn btn-light'" class="nav-link btn p-0" href="#">Basic</a>
                              <a v-on:click="supplyTab='resp'" v-bind:class="(supplyTab==='resp') ? 'btn btn-primary' : 'btn btn-light'" class="nav-link btn p-0" href="#">Respiratory</a>
                              <a v-on:click="supplyTab='warming'" v-bind:class="(supplyTab==='warming') ? 'btn btn-primary' : 'btn btn-light'" class="nav-link btn p-0" href="#">Warming</a>
                              <a v-on:click="supplyTab='monitors'" v-bind:class="(supplyTab==='monitors') ? 'btn btn-primary' : 'btn btn-light'" class="nav-link btn p-0" href="#">Monitors</a>
                              <a v-on:click="supplyTab='procedures'" v-bind:class="(supplyTab==='procedures') ? 'btn btn-primary' : 'btn btn-light'" class="nav-link btn p-0" href="#">Procedures</a>
                              <a v-on:click="supplyTab='meds'" v-bind:class="(supplyTab==='meds') ? 'btn btn-primary' : 'btn btn-light'" class="nav-link btn p-0" href="#">Medications</a>
                            </nav>
                            <div class="col">
                                {% for tabName in ['basic', 'warming', 'monitors', 'procedures', 'meds'] %}
                                <div v-if="supplyTab=='{{tabName}}'">
                                     <div class="row">
                                         <div v-for="supply in scenario.supplies" class="col-auto" v-if="(supply.supply_type=='{{tabName}}') && (supply.name!='mask')">
                                            <div v-if="!supply.is_available" class='btn badge badge-primary' v-on:click="getSupply(supply)">
                                                Fetch [[supply.name]]
                                            </div>
                                            <div v-else class='badge badge-light'>
                                                [[supply.name]] <span v-if="supply.use_simple && baby_delivered">
                                                <span v-if="!supply.is_using" class="btn badge badge-primary" v-on:click="useSupply(supply)">Use</span><span v-else class="btn badge badge-danger">In use</span>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div v-if="supplyTab=='resp'">
                                     <div class="row">
                                         <div v-for="supply in scenario.supplies" class="col-auto" v-if="(supply.supply_type=='resp') && (supply.name!='ett') && (supply.name!='laryngoscope')">
                                            <div v-if="!supply.is_available" class='btn badge badge-primary' v-on:click="getSupply(supply)">
                                                Fetch [[supply.name]]
                                            </div>
                                            <div v-else class='badge badge-light'>
                                                [[supply.name]]
                                            </div>
                                     </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            ETTs:
                                        </div>
                                        <div class="col-auto" v-for="supply in scenario.supplies" v-if="(supply.name==='ett')">
                                            <span v-if="!supply.is_available" class='btn badge badge-primary p-1' v-on:click="getSupply(supply)">
                                                Fetch size [[supply.size]]
                                            </span>
                                            <span v-else class='badge badge-light p-1'>
                                                [[supply.size]]
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            Laryngoscopes:
                                        </div>
                                        <div class="col-auto" v-for="supply in scenario.supplies" v-if="(supply.name==='laryngoscope')">
                                            <span v-if="!supply.is_available" class='btn badge badge-primary p-1' v-on:click="getSupply(supply)">
                                                Fetch size [[supply.size]]
                                            </span>
                                            <span v-else class='badge badge-light p-1'>
                                                [[supply.size]]
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
    </div>