<div v-if="ventTab==='start'" class="container">
<div class="row">
                <div class="col-auto">
                    <span v-if="scenario.resusc.vent.vent_type==='spontaneous'">Infant is <span class="badge badge-sm badge-success">spontaneously ventilating</span></span>
                    <span v-else-if="scenario.resusc.vent.vent_type==='ppv'">Infant is getting <span class="badge badge-sm badge-success">bag-mask ventilated</span></span>
                    <span v-else="scenario.resusc.vent.vent_type==='intubated'">Infant is <span class="badge badge-sm badge-success">intubated</span></span>
                </div>
           </div>
            <div v-if="scenario.resusc.vent.vent_type==='spontaneous'" class="row mt-3">
                	<div class="col">
                        <button v-on:click="ventTab='prep_ppv'" class="btn btn-sm btn-primary">Start PPV</button>
	                </div>
                	<div class="col">
                        <button v-on:click="ventTab='prep_intubate'" class="btn btn-sm btn-primary">Intubate</button>                    
	                </div>
            </div>
            <div v-else-if="scenario.resusc.vent.vent_type==='ppv'" class="row mt-3">
                <div class="col">
                	<button v-on:click="simpleTask('stopPPV')" class="btn btn-sm btn-primary">Stop PPV</button>                  
                </div>
                <div class="col">
                    <button v-on:click="ventTab='prep_intubate'" class="btn btn-sm btn-primary">Intubate</button>
                </div>
            </div>
            <div v-else="scenario.resusc.vent.vent_type==='intubated'" class="row mt-3">
                <div class="col">
                    <button v-on:click="ventTab='prep_extubate'" class="btn btn-sm btn-primary">Extubate</button>
                </div>
            </div>
               
           <div class="row mt-3">
               <div v-if="scenario.resusc.vent.vent_type==='ppv'" class="col">
                   <button v-on:click="simpleTask('adjustMask')" class="btn btn-primary btn-sm">
                       Adjust Mask
                   </button>
                   <button v-on:click="simpleTask('reposition')" class="btn btn-primary btn-sm">
                       Reposition
                   </button>
                   <button v-on:click="simpleTask('suction')" class="btn btn-primary btn-sm">
                       Suction
                   </button>
                   <button v-on:click="simpleTask('openMouth')" class="btn btn-primary btn-sm">
                       Open Mouth
                   </button>
                   <button v-on:click="" class="btn btn-primary btn-sm">
                       Intubate
                   </button>
               </div>
              
           </div>
           <div class="row">
               <div v-if="scenario.resusc.vent.vent_type!='spontaneous'" class="col">
                   <p class="col-3">Set vent rate: </p>
                        <div class="col-9" v-on:click="doTask({'name':'set_rate', 'set_rate':scenario.resusc.vent.set_rate})">
                            <vue-slider id="vent_rate-slider" ref="slider" v-bind="helloSliderOptions(0, 60, width='100%', '50%')" v-model="scenario.resusc.vent.set_rate">
                                {% if is_IE %}
                                <div slot="label"></div>
                                {% else %}
                                <div slot="label" slot-scope="{ label, active }">
                                    <span :class="['custom-label', { active }]" v-if="label % 10 === 0">
                                    [[ label ]]
                                  </span>
                                </div>
                                {% endif %}
                            </vue-slider>
                        </div>
               </div>
        </div>
    
</div>
<div v-if="ventTab==='prep_ppv'" class="container">
        <div class="row">
                <div class="col">
                    <h6>
                        Prepare to Start PPV
                    </h6>
                </div>
   		 <div class="col">
                    <button v-on:click="ventTab='start'" class="btn btn-sm btn-secondary">
                        	Cancel
                                </button>
                </div>
      
           </div>
    	<div class="row mt-1">
            
            <div class="row mt-2">
            <div class="col-auto" v-for="mask in getMasks">
            <span v-if="mask.is_using" class="p-2 badge badge-large badge-primary">Using [[mask.size]] Mask </span>
              <span v-else class="p-2 btn badge badge-large badge-secondary" v-on:click="useSupply(mask)">Use [[mask.size]] Mask</span>
            </div>
        </div>
	</div>
	
	<div class="row mt-2">
        {% for pressure,pname in [("scenario.warmer.pip", "PIP"), ("scenario.warmer.peep", "PEEP"), ("scenario.warmer.pop", "POP")] %}
        <div class="col-auto px-2"><span class="pr-1">{{pname}}: </span><span class="btn badge badge-primary" v-on:click="toggleShowTab('prep')">[[{{pressure}}]]</span></div>
        {% endfor %}

    </div>
    <div class="row">
        {% for pressure,pname in [("scenario.warmer.flow","Flow"), ("scenario.warmer.fio2","FIO2")]%}
        <div class="col-auto px-2"><span class="pr-1">{{pname}}: </span><span class="btn badge badge-primary" v-on:click="toggleShowTab('prep')">[[{{pressure}}]]</span></div>
        {% endfor %}
    </div>
    <div class="row mt-4">
                   <div class="col-auto p-0">Set vent rate: </div>
                        <div class="col pl-0" v-on:click="doTask({'name':'set_rate', 'set_rate':scenario.resusc.vent.set_rate})">
                            <vue-slider id="vent_rate-slider" ref="slider" v-bind="helloSliderOptions(0, 60, width='100%', '50%')" v-model="scenario.resusc.vent.set_rate">
                                {% if is_IE %}
                                <div slot="label"></div>
                                {% else %}
                                <div slot="label" slot-scope="{ label, active }">
                                    <span :class="['custom-label', { active }]" v-if="label % 10 === 0">
                                    [[ label ]]
                                  </span>
                                </div>
                                {% endif %}
                            </vue-slider>
                        </div>
        </div>
</div>
<div v-if="ventTab==='prep_intubate'" class="container">
        <div class="row">
                <div class="col">
                    <h6>
                        Prepare to Intubate
                    </h6>
                </div>
                            <div class="col">
                    <button v-on:click="ventTab='start'" class="btn btn-sm btn-secondary">
                        	Cancel
                                </button>
                </div>
           </div>
</div>
<div v-if="ventTab==='prep_extubate'" class="container">
        <div class="row">
                <div class="col">
                    <h6>
                        Prepare for Extubation
                    </h6>
                </div>
                            <div class="col">
                    <button v-on:click="ventTab='start'" class="btn btn-sm btn-secondary">
                        	Cancel
                                </button>
                </div>
           </div>
</div>