{% for pressure,pname in [("scenario.warmer.pip", "PIP"), ("scenario.warmer.peep", "PEEP"), ("scenario.warmer.pop", "POP")] %}
                    <div class="row mt-3">
                        <p class="col-3">{{pname}}: </p>
                        <div class="col-9">
                            <vue-slider id="{{pname}}-slider" ref="slider" v-on:change="updateWarmer" v-bind="helloSliderOptions(0, {% if pname=="PEEP" %} 20 {% else %} 50 {% endif %}, width='100%', '50%')" v-model="{{pressure}}">
                                {% if is_IE %}
                                <div slot="label"></div>
                                {% else %}
                                <div slot="label" slot-scope="{ label, active }">
                                    <span :class="['custom-label', { active }]" v-if="label % {% if pname=="PEEP"%} 5 {% else %} 10 {% endif %} === 0">
                                    [[ label ]]
                                  </span>
                                </div>
                                {% endif %}
                            </vue-slider>
                        </div>
                    </div>
                    {% endfor %}
          {% for pressure,pname in [("scenario.warmer.flow","Flow"), ("scenario.warmer.fio2","FIO2")]%}
                    <div class="row mt-3">
                        <p class="col-3">{{pname}}: </p>
                        <div class="col-9">
                            <vue-slider id="{{pname}}-slider" ref="slider" v-on:change="updateWarmer" v-bind="helloSliderOptions(0, {% if pressure=="scenario.warmer.flow" %} 20 {% else %} 100 {% endif %}, width='100%', '50%')" v-model="{{pressure}}">
                                {% if is_IE %}
                                <div slot="label"></div>
                                {% else %}
                                <div slot="label" slot-scope="{ label, active }">
                                    <span :class="['custom-label', { active }]" v-if="label % {% if pressure=="scenario.warmer.flow"%} 5 {% else %} 20 {% endif %} === 0">
                            [[ label ]]
                          </span>
                                </div>
                                {% endif %}

                            </vue-slider>
                        </div>
                    </div>
                {% endfor %}
        <div class="row mt-3">
                <div class="col-3">
                    <p>Suction: </p>
                </div>
                <div class="col col-md-9">
                    <vue-slider id="suction-slider" ref="slider" v-on:change="updateWarmer" v-bind="helloSliderOptions(0, 150, width='100%', '50%')" v-model="scenario.warmer.suction">
                        {% if is_IE %}
                        <div slot="label"></div>
                        {% else %}
                        <div slot="label" slot-scope="{ label, active }">
                            <span :class="['custom-label', { active }]" v-if="label % 30 === 0">
                            [[ label ]]
                          </span>
                        </div>

                        {% endif %}
                    </vue-slider>
                </div>
                </div>