<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
            {% for value,name in [("warmer","Warmer"), ("mask", "Bag Mask"), ("oxygen","Oxygen"), ("suction", "Suction"), ("supplies", "Supplies")] %}
            <a v-on:click="showTab='{{value}}'" class="nav-link {% if loop.first %} active {% endif %} " id="v-pills-{{value}}-tab" data-toggle="pill" href="#v-pills-{{value}}" role="tab" aria-controls="v-pills-{{value}}" aria-selected="true">{{name}}</a> {% endfor %}
        </div>
    </div>


    <div class="col-9">
        <div class="tab-content">
            {% set values=["warmer", "mask", "oxygen", "suction", "supplies"] %}
            <div v-if="showTab=='warmer'" class="tab-pane show active" role="tabpanel" aria-labelledby="v-pills-{{values[0]}}-tab">
                <span v-if="scenario.warmer.is_turned_on">
                    <h3> Heat is: <span class="badge badge-danger">on</span> </h3>
                <button v-on:click="toggleHeat" class="btn btn-secondary btn-sm">Turn heat off</button>
                </span>
                <span v-else>
                    <h4> Heat is: <span class="badge badge-secondary">off</span> </h4>
                <button v-on:click="toggleHeat" class="btn btn-danger">Turn heat on</button>
                </span>

            </div>

            <div v-if="showTab=='mask'" class="tab-pane show active" role="tabpanel" aria-labelledby="v-pills-{{values[1]}}-tab">


                <div class="row">
                    <h4 class="col-md-auto">
                        Select mask:
                    </h4>
<!--
                    <div v-for="mask in supplyMGR.supplies.mask" class="col-3">
                        <div v-if="mask.using">

                            <button type="button" class="btn btn-primary">[[mask.size]] Mask</button>

                        </div>
                        <div v-else>
                            <button type="button" class="btn btn-light" v-on:click="useMask(mask.size)">[[mask.size]] Mask</button>
                        </div>
                    </div>-->
                </div>

                <div class="mt-5">
                    <div class="offset-md-1 col-md-4">
                        {% for pressure,pname in [("scenario.warmer.pip", "PIP"), ("scenario.warmer.peep", "PEEP"), ("scenario.warmer.pop", "POP")] %}
                        <div class="row">
                            <div class="card sliderCard">
                            <div class="row">
                                <div class="col-2">
                                <h4>{{pname}}: </h4>
                                </div>
                            <vue-slider ref="slider" v-on:change="updateWarmer" v-bind="helloSliderOptions(0, {% if pname=="PEEP" %} 20 {% else %} 50 {% endif %}, width='{% if pname=="PEEP"%} 50% {% else %} 75% {% endif %}')" v-model="{{pressure}}">
                                <div slot="label" slot-scope="{ label, active }">
                                  <span :class="['custom-label', { active }]" v-if="label % {% if pname=="PEEP"%} 5 {% else %} 10 {% endif %} === 0" >
                                    [[ label ]]
                                  </span>
                                </div>
                            </vue-slider>
                            </div>
                            </div>

                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div v-if="showTab=='oxygen'" class="tab-pane show active" role="tabpanel" aria-labelledby="v-pills-{{values[2]}}-tab">
                {% for pressure,pname in [("scenario.warmer.flow","Flow"), ("scenario.warmer.fio2","FIO2")]%}
                <div class="row">
                    <div class="card sliderCard">
                    <div class="row">
                        <div class="col-2">
                        <h4>{{pname}}: </h4>
                        </div>
                    <vue-slider ref="slider" v-on:change="updateWarmer" v-bind="helloSliderOptions(0, {% if pressure=="scenario.warmer.flow" %} 20 {% else %} 100 {% endif %})" v-model="{{pressure}}">
                        <div slot="label" slot-scope="{ label, active }">
                          <span :class="['custom-label', { active }]" v-if="label % {% if pressure=="scenario.warmer.flow"%} 5 {% else %} 20 {% endif %} === 0" >
                            [[ label ]]
                          </span>
                        </div>
                    </vue-slider>
                    </div>
                    </div>

                </div>
                {% endfor %}
            </div>
            <div v-if="showTab=='suction'" class="tab-pane show active" role="tabpanel" aria-labelledby="v-pills-{{values[3]}}-tab">
                    <div class="card sliderCard">
                    <div class="row">
                        <div class="col-2">
                        <h4>Suction: </h4>
                        </div>
                    <vue-slider ref="slider" v-on:change="updateWarmer" v-bind="helloSliderOptions(0, 140)" v-model="scenario.warmer.suction">
                        <div slot="label" slot-scope="{ label, active }">
                          <span :class="['custom-label', { active }]" v-if="label % 20 === 0" >
                            [[ label ]]
                          </span>
                        </div>
                    </vue-slider>
                    </div>
                    </div>

            </div>
            <div v-if="showTab=='supplies'" class="tab-pane show active" role="tabpanel" aria-labelledby="v-pills-{{values[4]}}-tab">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Fetch Supplies:</span>
                    </div>
                    <v-select label="name" v-model="supplyToFetch" @input="getSupply(supplyToFetch)" :options="supplySearchOptions" placeholder="search..."></v-select>

                </div>
                <h3>Available Supplies: </h3>
                <ul class="col3" v-for="supply in availableSupplies">
                    <li>[[supply.name]]: [[supply.size]]</li>
                </ul>
            </div>


        </div>
    </div>

</div>